div.embed {
	max-width: 700px;
	padding: 10px 20px 10px 10px;
	margin: 10px 0;
	border-radius: 0 4px 4px 0;
	border-width: 0 0 0 10px;
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	background-color: #2a2523;
	transition: 0.3s;

	/* GRID LAYOUT */
	display: grid;
	grid-template-columns: 1fr 2fr; /* Image takes 1/3, description and fields take 2/3 */
	grid-template-areas:
		"title title"
		"image description"
		"image fields"
		"footer link";
	gap: 15px; /* Increase the gap between grid items for better spacing */
	align-items: start; /* Align items at the start of the grid cells */
}

div.embed .fields {
	display: grid;
	gap: 20px;
	grid-area: fields;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%; /* Ensure fields take full width */
}

.field {
	padding: 5px;
	border-radius: 4px;
	column-fill: 2;
	margin: 3px;
	transition: 0.3s;

	width: 100%; /* Adjust the width to fit within the container */
}

.field-title {
	font-weight: bold;
	color: #6d977e;
	text-transform: uppercase;
	width: fit-content;
}

.field-value {
	margin-bottom: 10px;
	font-weight: 300;
	color: #ddd6cf;
}

.field:hover {
	background-color: #584b3d87;
}

div.embed .embedImage {
	grid-area: image;
	width: 220px;
}

div.embed .embedDescription {
	grid-area: description;
	margin-left: 10px;
	color: #ddd6cf;
}

div.embed .embedLink {
	grid-area: link;
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	justify-self: end;
	align-self: end;
	transition: 0.3s;
}
/* 
div.embed:hover {
	background-color: #3b3735;
} */

div.embed .embedTitle {
	grid-area: title;
	text-transform: uppercase;
	margin-bottom: 5px;
}

div.embed .embedFooter {
	grid-area: footer;
	font-size: 12px;
	margin-top: 10px;
	text-transform: uppercase;
	align-self: end;
}
